n8n-workflows/buscalead-ollama-docker.json
{
    "name": "buscalead-ollama-docker",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "buscalead-v2",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -208,
                1232
            ],
            "id": "webhook-node",
            "name": "Webhook",
            "webhookId": "buscalead-v2"
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n  \"bairros\": [\n    \"Centro\",\n    \"Bairro A\",\n    \"Bairro B\",\n    \"Bairro C\",\n    \"Bairro D\"\n  ]\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                144,
                1456
            ],
            "id": "parser-node",
            "name": "Structured Output Parser"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Liste os 15 bairros mais comerciais e movimentados da cidade: {{ $json.body.city }}. Inclua bairros centrais, comerciais e residenciais com comércio.",
                "hasOutputParser": true,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Você é um especialista em geografia brasileira. Liste apenas os nomes dos bairros em JSON."
                        }
                    ]
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.7,
            "position": [
                -32,
                1232
            ],
            "id": "gera-bairros-node",
            "name": "Gera Bairros"
        },
        {
            "parameters": {
                "model": "llama3.2"
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
            "typeVersion": 1,
            "position": [
                -144,
                1440
            ],
            "id": "ollama-model",
            "name": "Ollama Chat Model",
            "credentials": {
                "ollamaApi": {
                    "id": "ollama-docker-cred",
                    "name": "Ollama Docker"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return items[0].json.output.bairros.map(bairro => {\n  return { json: { bairro } };\n});"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                288,
                1232
            ],
            "id": "trata-dados-node",
            "name": "Trata Bairros"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://google.serper.dev/maps",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-KEY",
                            "value": "615d22fcb70260924985561e938f94e6b670156d"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "={{ $('Webhook').item.json.body.term }} no {{ $json.bairro }}, {{ $('Webhook').item.json.body.city }}"
                        },
                        {
                            "name": "hl",
                            "value": "pt-br"
                        }
                    ]
                },
                "options": {
                    "redirect": {
                        "redirect": {}
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                512,
                1232
            ],
            "id": "busca-google-node",
            "name": "Busca Google"
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// Collect ALL places from ALL Busca Google results\nconst allPlaces = [];\nconst seen = new Set();\n\nfor (const item of $input.all()) {\n  const places = item.json.places || [];\n  for (const place of places) {\n    const phone = (place.phoneNumber || '').trim();\n    // Skip places without phone (unusable leads)\n    if (!phone) continue;\n    // Deduplicate by phone\n    if (seen.has(phone)) continue;\n    seen.add(phone);\n    allPlaces.push(place);\n  }\n}\n\n// Return ONE single item with all leads inside\nreturn [{\n  json: {\n    search_id: $('Webhook').first().json.body.search_id,\n    callback_url: $('Webhook').first().json.body.callback_url,\n    leads: allPlaces,\n    total: allPlaces.length\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                768,
                1232
            ],
            "id": "agrega-leads-node",
            "name": "Agrega Leads"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.callback_url }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-webhook-secret",
                            "value": "Xandy256912@"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"search_id\": \"{{ $json.search_id }}\",\n  \"leads\": {{ JSON.stringify($json.leads) }}\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1024,
                1232
            ],
            "id": "callback-node",
            "name": "Envia para o Site"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gera Bairros",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ollama Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gera Bairros",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "Gera Bairros",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Gera Bairros": {
            "main": [
                [
                    {
                        "node": "Trata Bairros",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trata Bairros": {
            "main": [
                [
                    {
                        "node": "Busca Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Busca Google": {
            "main": [
                [
                    {
                        "node": "Agrega Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agrega Leads": {
            "main": [
                [
                    {
                        "node": "Envia para o Site",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "instanceId": "buscalead-ollama-v2"
    },
    "id": "buscalead-v2",
    "tags": []
}